#tweets-container .tweet {
  border: 1.5px solid #eee;
  border-radius: 2%;
  margin: 0 auto 1em auto;
  opacity: .6;
  padding: 0;
  width: 90%;
  transition: .5s all ease-in-out;
}

#tweets-container .tweet:hover {
   opacity: 1;
   transition: .5s all ease-in-out;
}

#tweets-container header {
  background-color: #eee;
  margin: 0 auto 0 auto;
  height: 80px;
}

#tweets-container .avatar {
  float: left;
  height: 60px;
  width: 60px;
  margin: .6em 0 0 .4em ;
}

#tweets-container .name {
  display: inline;
  float: left;
  margin: 0 0 0 .25em;
  margin-top: 1.2em;
}

#tweets-container .handle {
  display: inline-block;
  float:right;
  margin: 2em .5em 0 0;
}

#tweets-container .content {
  height: 50px;
  padding: .4em;
}

#tweets-container .content  {
  word-wrap: break-word;
}

#tweets-container footer {
  border-top: 1.5px solid #eee;
  margin: 0;
  padding: 0 .3em;
};

footer div {
  display: inline-block;
}

footer .icons {
  float: right;
  margin-right: .5em;
}

